.home {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	.logo {
		position: relative;
		display: inline-block;
		max-width: 35vw;
		svg {
			width: 100%;
		}
	}
	.bg {
		z-index: -1;
		width: 110vw;
		position: fixed;
		left: -5vw;
		top: -20vh;
	}
}