<!DOCTYPE HTML>

<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Lusitana:400,700" rel="stylesheet">
  </head>
  <style>
	  body { font-family: 'Lusitana', serif; }
  </style>
  <body class="{{ page.url | remove: '/' }}">
	{% include navigation.html %}
    <section>
      {{ content }}
    </section>
  </body>
</html>
